.products {
  padding: 20px;
}

.products img {
  width: 100%;
}

.product-items {
  margin-left: 4px;
  margin-right: -8px;
  overflow: hidden;
}

.product-item {
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  margin: 8px 4px 8px 4px;
  width: 19%;
  padding-bottom: 30px;
  float: left;
}

.products .cover-image {
  height: 143px;
}

.products .title {
  position: relative;
  margin-bottom: 8px;
  font-size: 13px;
  height: 37px;
  overflow: hidden;
}

.products .bottom {
  display: flex;
  flex: 1;
}

.products .price {
  font-size: 12px;
  flex: 0.8;
  text-align: left;
}

.products .buttons {
  flex: 0.2;
  text-align: right;
}

.price-text {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -.5px;
}

.won {
  margin-left: 1px;
}
