.products {
  padding: 20px;
}

.products img {
  width: 100%;
}

.product-item {
  padding-bottom: 40px;
}

.products .cover-image {
  min-height: 130px;
}

.products .title {
  margin-bottom: 8px;
  font-size: 13px;
}

.products .bottom {
  display: flex;
  flex: 1;
}

.products .price {
  font-size: 12px;
  flex: 0.8;
  text-align: left;
}

.products .buttons {
  flex: 0.2;
  text-align: right;
}

.price-text {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -.5px;
}

.won {
  margin-left: 1px;
}
