.wishlist {
  padding: 20px;
}

.wishlist img {
  width: 100%;
}

.wishlist .cover-image {
  min-height: 130px;
}

.price,
.sales-price {
  font-size: 11px;
}

.order-price {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
