.wishlist {
  padding: 20px;
}

.wishlist img {
  width: 100%;
}

.wishlist-item {
  padding-bottom: 10px;
}

.wishlist .cover-image {
  min-height: 130px;
}

.wishlist .title {
  height: 60px;
  margin-bottom: 8px;
}

.wishlist .price {
  height: 20px;
}

.wishlist .buttons {
  text-align: right;
}
